<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 justify-content-between" style="--bs-bg-opacity: .75">
    <a class="navbar-brand px-4" href="#"><i class="fa-solid fa-piggy-bank mr-1"></i> Expenses Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav px-4">
            <li class="nav-item active">
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#newRecord">New record</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
            </li>
        </ul>
    </div>
</nav>