<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses tracker</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="text-center">Expenses tracker</h1>
        <h5 class="text-justify mx-auto">Keep track of your current balance, register all your expenses and income easy!</h5>
        <p class="text-center mt-3">Please log in to get started. Or <a href="#" class="text-primary text-decoration-none" onclick="toggleLogin()">sign up</a> if you don't have an account.</p>
        <form action="/auth/login" method="POST" class="col-xs-8 col-sm-6 col-md-6 col-lg-6 justify-content-center m-auto" id="login-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control mb-2" id="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control mb-2" id="password" placeholder="Password" required>
            </div>
            <input type="submit" class="btn btn-primary mt-2 w-100" value="Login" onclick="handleLogin()"></input>
        </form> 
        <form action="/auth/register" method="POST" id="register-form" class="col-xs-8 col-sm-6 col-md-6 col-lg-6 justify-content-center m-auto d-none">
            <div class="form-group">
                <label for="newName">Name</label>
                <input name="name" type="text" class="form-control mb-2" id="newName" aria-describedby="emailHelp" placeholder="Enter your user name" required>
            </div>
            <div class="form-group">
                <label for="newEmail">Email</label>
                <input name="email" type="email" class="form-control mb-2" id="newEmail" aria-describedby="emailHelp" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Password</label>
                <input name="password" type="password" class="form-control mb-2" id="newPassword" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input name="confirmPassword" type="password" class="form-control mb-2" id="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <input type="submit" class="btn btn-primary mt-2 w-100" value="Register"></input>
        </form>
    </div>
    
    <footer class="fixed-bottom">
        <div class="text-center p-3 bg-primary" style="--bs-bg-opacity: .3">
            © Full stack project developed by Javier Sepic
          </div>
    </footer>
</body>

<script>
    const loginForm = document.getElementById('login-form');
    const registerForm = document.getElementById('register-form');

    function toggleLogin(){
        loginForm.classList.add('d-none');
        registerForm.classList.remove('d-none');
    };

    function toggleRegister(){
        loginForm.classList.remove('d-none');
        registerForm.classList.add('d-none');
    }

</script>

</html>